<div class="container">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{product.img}}" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-title">
            <p class="card-text">{{product.name}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{product.desciption}}</p>
        </div>
        <div><button type="button" class="btn btn-primary">Mua</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn Có Chắc Chắn Muốn Xóa?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" id="btn-delete-product">Xóa</button>
      </div>
    </div>
  </div>
</div>


<form method="POST" name="addcart-form"></form>
<script>
  const deleteproduct = document.getElementById('deleteproduct');
  var deleteform=document.forms['addcart-form'];
  var btnDeleteProduct= document.getElementById('btn-delete-product');
  deleteproduct.addEventListener('show.mdb.modal', (e) => {
  const button = e.relatedTarget;
  const id = button.getAttribute('data-mdb-whatever');
  btnDeleteProduct.onclick= function(e) {
    deleteform.action =`/product/delete/${id}?_method=PUT`;
    deleteform.submit();
  }
})
</script>
